# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/nta_dev"
DATABASE_URL_TEST="postgresql://USER:PASSWORD@localhost:5432/nta_test"

# JWT
JWT_SECRET="change-me-to-a-random-256-bit-secret"
JWT_EXPIRES_IN="15m"

# Refresh token
REFRESH_TOKEN_EXPIRES_DAYS=30

# CORS
CLIENT_ORIGIN="http://localhost:5173"

# Server
PORT=3001
NODE_ENV=development
